[submodule "App/Alamofire"]
	path = App/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Submodules/PNChart"]
	path = Submodules/PNChart
	url = git@github.com:KnockSoftware/PNChart.git
[submodule "Submodules/DMActivityInstagram"]
	path = Submodules/DMActivityInstagram
	url = git@github.com:KnockSoftware/DMActivityInstagram.git
[submodule "App/RideTests/ride_response_json"]
	path = App/RideTests/ride_response_json
	url = git@github.com:KnockSoftware/ride_response_json.git
[submodule "App/Frameworks/ActivityPredictor"]
	path = App/Frameworks/ActivityPredictor
	url = git@github.com:quicklywilliam/ActivityPredictor.git
[submodule "App/Frameworks/GpxLocationManager"]
	path = App/Frameworks/GpxLocationManager
	url = git@github.com:KnockSoftware/GpxLocationManager.git
