<head>
  <title>Ride</title>

  <%- include head.ejs %>
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44840238-4', 'auto');
    ga('send', 'pageview');

    function checkiPhone(){
      if ((navigator.platform.indexOf("iPhone") != -1))  {
        document.getElementById("not_phone").style.display = 'none';
        document.getElementById("phone").style.display = 'block';
      } else {
        document.getElementById("phone").style.display = 'none';
        document.getElementById("not_phone").style.display = 'block';
      }
    }

  </script>
	<style type="text/css">
		body {
    		padding: 10;
		    margin: 10;
		}
		html, body {
		    font: normal 14px 'courier new';
		}
		#content {
	    width: 500px;
	    float: left;
		}
		#screenshot {
	    margin-right: 60px;
  	  float: left;
		}
	</style>

</head>

<body onload="checkiPhone()">
  <div id="screenshot">
    <img src="http://ride.report/images/screenshot.png" style="width: 300px;">
  </div>
	<div id="content">
  <h1>Ì†ΩÌ∫≤ Ride Beta</h1>	
  You've been invited the Ride beta! Ride beta currently requires an iPhone running iOS 8.
  
  <p><strong>What is Ride?</strong><br/>
    Ride automatically logs your bike Rides. It helps make biking better.<br/><br/>
    Fancy things:
    <ul>
    <li>Ride starts and stops automatically ‚Äì just hop on your bike.</li>
    <li>When you finish a Ride, rate it Ì†ΩÌ±ç or Ì†ΩÌ±é right from your lock screen.</li>
    <li>Your feedback and anonymous route data will help improve biking in Portland!</li>
    </ul>
  </p>
	  <p><strong>Feedback</strong><br/>
    This is a <em>early</em> beta and your feedback is critical. We really appreciate anything you‚Äôll give us ‚Äì whether bug reports, suggestions, or questions. Thanks so much!
    </p>
  <span id="phone">
	<p><strong>How to install</strong><br/>
    <a href="itms-services://?action=download-manifest&url=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Frideenterprise%2Fmanifest.plist">Tap here</a> to install Ride.</p>
	</p></span>
	<span id="not_phone">
	    <p><strong>How to install</strong><br/>
    	  Visit this page on your iPhone to install Ride.</p>
	  </p></span>

</div>
</body>
