<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ride.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RouteMachineTestTool.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8429E5CA1A5DC58500EB3E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8435A0611A5DC3BC00BDB7A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D1554E19D2733500316995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D1556619D2733500316995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E395741A757DF30015B682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E395881A757DF30015B682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
